.tooltip{
  position:absolute;
  display:none;
  padding: 10px 10px;
  background:#8B8989;
  color:#fff;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  font-size:16px;
}

.svg-metrics{
  background: #fff;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  font-size:10px;
}

.y-axis line,
.y-axis path{
  stroke: white;
}

.tooltip-title{
  font-size:10px;
  padding:5px 0px 10px 5px;
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  font-weight: bold;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
